.bg-class{

}
.ion-button{
    --background:linear-gradient(to right, #C2C1CD, #040404); /* Chrome 10-25, Safari 5.1-6 */
    color: aliceblue;
}
.titre {
    margin-top:200px;
    color:gray;
    margin-left: 7%;
}

.btn {
    margin-top:200px;
    background: #385840;
}